@use "../src/variables" as *;

.experience-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 550px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-block: 1rem;
    background-color: $third-black;
    border: solid medium $first-black;
    border-radius: 1rem;
}

.screen-container {
    position: relative;
    width: 95%;
    background-color: $third-blue;
    border: solid medium $first-black;
    border-radius: 1rem;
}

.screen-toggler {
    width: 95%;
    margin-bottom: 0.5rem;
}

.toggler-btn {
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    margin-inline: 0.1rem;
    border: solid 2px $first-black;
    border-radius: 2rem;
    cursor: pointer;
}

.off {
    background-color: $primary-red;
}

.on {
    background-color: $primary-green;
}

.screen-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $second-black;
    border-radius: 0.75rem;

    &.screen-on {
        animation: turned-on 0.5s ease forwards;
        .screen-power {
            background-color: $first-white;
            animation: turn-on 0.5s ease;
        }
    }

    &.screen-off {
        animation: turned-off 0.5s ease forwards;
        .screen-power {
            background-color: $first-white;
            animation: turn-off 0.5s ease;
        }
    }
}

.screen-content {
    padding: 0.5rem;
}

.screen-title {
    margin: 0;
    margin-bottom: 0.5rem;
}

.screen-text {
    white-space: pre-line;
    word-break: break-all;
}

@media screen and (min-width: 500px) {
    .screen-text {
        word-break: initial;
    }
}

@keyframes turn-on {
    0% {
        height: 0;
        width: 0;
    }

    50% {
        height: 3px;
        width: 100%;
    }

    100% {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }
}

@keyframes turned-on {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes turn-off {
    0% {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }

    50% {
        height: 3px;
        width: 100%;
    }
    100% {
        height: 0;
        width: 0;
    }
}

@keyframes turned-off {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
