.contact-container {
    display: flex;
    place-content: center;
}

.social-nav {
    display: grid;
    align-items: center;
    width: 90%;
    min-height: 80vh;
}

.social-nav div {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .social-nav {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .social-nav {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
