.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}
