@use "../src/variables" as *;

.rockets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.rockets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
}
