@use "variables" as *;

.desktop-layout {
    @media screen and (min-width: 1000px) {
        .main-content {
            padding-top: 6rem;
            padding-bottom: 4rem;
        }

        .welcome-container {
            flex-direction: row;
            align-items: flex-end;
            padding-inline: 2rem;
        }

        .welcome-title {
            max-width: 900px;
            text-align: start;
            font-size: 3rem;
        }

        .main-planet {
            max-width: 500px;
        }

        .rocket {
            width: calc(350px + 10vw);
        }

        .biography-text {
            padding-top: 3rem;
            padding-bottom: 8rem;
            font-size: 1.25rem;
        }

        .experience-container {
            align-items: flex-start;
            width: 75%;
            margin: auto;
        }

        .experience-screen {
            max-width: 600px;
        }

        .experience-screen:nth-child(even) {
            align-self: flex-end;
        }

        .screen-content {
            padding: 1rem;
        }

        .screen-title {
            font-size: 2rem;
        }

        .screen-text {
            font-size: 1.15rem;
        }

        .project-technology {
            width: 3rem;
        }

        .project-description {
            font-size: 18px;
            width: 90%;
        }

        .project-button {
            width: auto;
        }

        .form-header {
            padding-top: 2rem;
        }

        .form-title {
            font-size: 4rem;
        }
    }
}
