/* Main Colors */
$first-blue: #0b3c6f;
$second-blue: #082340;
$third-blue: #3d48e9;
$fourth-blue: #b0d7ff;
$first-yellow: #e9de3d;
$second-yellow: #e9de6f;
$first-black: #000000;
$second-black: #202020;
$third-black: #454545;
$first-white: #fff;
$second-white: #ddd;

/* Secondary Colors */
$success: #6ecd65;
$error: #e06666;
$primary-red: #f54040;
$primary-green: #63f457;
$primary-blue: #64a2ff;
$primary-yellow: #fbff4e;
$disabled: #757575;
$webdevzone: #2338fc;
$list-ranker: #41a54b;
$protality: #ec3d3d;

$font-atkinson: Atkinson Hyperlegible, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;

/* Font Sizes */
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-24: 1.5rem;
$font-size-30: 1.875rem;
$font-size-36: 2.25rem;
$font-size-42: 2.625rem;
$font-size-56: 3.5rem;
$font-size-64: 4rem;
