@use "./variables" as *;
@use "./desktopLayout" as *;

:root {
    font-family: $font-atkinson;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $first-white;
}

body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    background-color: $first-blue;
    color: $first-white;
    overflow-x: hidden;
}

textarea {
    resize: none;
}

.main-content {
    padding-top: 4rem;
    padding-bottom: 7rem;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -99;
}

.text-shadow {
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000,
        2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000;
}

.active-page {
    color: $second-yellow;
}

.modal-overflow-lock {
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1rem;
    text-align: center;
    background-color: $fourth-blue;
    color: $second-black;
    border: solid medium $first-black;
    border-radius: 1.5rem;
}

.section-title {
    text-align: center;
    font-size: $font-size-36;
    width: 90%;
    color: $fourth-blue;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes reverseSpinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
